<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Team</title>
    <%- include('partials/style') %>
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="site-name" href="/">Fantasy Manager</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Teams
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"></a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/new">Add New Team</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"href="#">Support</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1>Edit Page</h1>
    <form action="/<%=team.id%>?_method=PUT" method="POST">
      Team Name: <input type="text" name="name" value="<%=team.name%>"/><br>
      Logo: <input type="text" name="logo" value="<%=team.logo%>"/><br>
      Sport: <input type="text" name="sport" value="<%=team.sport%>"/><br>
      Platform: <input type="text" name="platform" value="<%=team.platform%>"/><br>
      Place: <input type="text" name="place" value="<%=team.place%>"/><br>
      Players: <br>
      <div>
      <% i = 0 %>
      <% while (i < team.players.length) { %>
        <div>
        Name: <input type="text" name="players" value="<%=team.players[i].name%>"/>Team: <input type="text" name="players" value="<%=team.players[i].team%>"/>Position: <input type="text" name="players" value="<%=team.players[i].position%>"/>
        <% i++ %>
        </div>
      <% } %>
        <input type="submit" value="Save Changes">
      </div>
  </body>
</html>
