<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Team</title>
    <%- include('partials/style') %>
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="site-name" href="/">Fantasy Manager</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Teams
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"></a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/new">Add New Team</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"href="#">Support</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container teamContainer">
      <div>
        <h1 class="center">Edit <%=team.name%></h1>
      </div>
    <form action="/<%=team.id%>?_method=PUT" method="POST">
      <form action="/" method="POST">
        <div class="form-group">
          <label for="formGroupExampleInput">Team Name</label>
          <input type="text" class="form-control" name="name" value="<%=team.name%>"/><br>
        </div>
        <div class="form-group">
          <label for="formGroupLogoInput">Logo</label>
          <input type="text" class="form-control" name="logo" value="<%=team.logo%>"/><br>
        </div>
        <div class="form-row">
          <div class="form-group col-sm">
            <label for="inputEmail4">Sport</label>
            <input type="text" class="form-control" name="sport" value="<%=team.sport%>"/><br>
          </div>
          <div class="form-group col-sm">
            <label for="inputEmail4">Platform</label>
            <input type="text" class="form-control" name="platform" value="<%=team.platform%>"/><br>
          </div>
          <div class="form-group col-sm">
            <label for="inputEmail4">Place</label>
            <input type="number" class="form-control" name="place" value="<%=team.place%>"/><br>
          </div>
        </div>
        <div class="container flex-col">
          <h4 class="align-left">Players</h4>
        <div id = "players">
          <div class="flex-row">
            <h5>Name</h5>
            <h5>Team</h5>
            <h5>Position</h5>
          </div>
      <% i = 0 %>
      <% while (i < team.players.length) { %>
        <div class="flex-row">
        <input class="player-info" type="text" name="players" value="<%=team.players[i].name%>"/>
        <input class="player-info" type="text" name="players" value="<%=team.players[i].team%>"/>
        <input class="player-info" type="text" name="players" value="<%=team.players[i].position%>"/>
        <% i++ %>
        </div>
      <% } %>
      <div class="flexCol">
        <input class="btn btn-primary add-team" type="submit" value="Save Changes">
      </div>
  </body>
</html>
