<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fantasy Manager</title>
    <% include ./partials/style.ejs %>
    <link href="https://fonts.googleapis.com/css?family=Asap+Condensed|Bangers&display=swap" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src='/jquery/jquery.js' type="text/javascript"></script>
  </head>
  <body>
    <% if(currentUser) { %>
    <nav class="navbar navbar-expand-lg">
      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="site-name" href="/">Fantasy Manager</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Teams
            </a>
            <div class="dropdown-menu" id="dropdown-teams" aria-labelledby="navbarDropdown">
              <% for(let i=0; i < teams.length; i++) { %>
                <% if (teams[i].username === currentUser.username) { %>
                <a class="dropdown-item" href="/<%=teams[i].id%>"><%=teams[i].name%></a>
            <% } %>
            <% } %>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/new">Add New Team</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome, <%=currentUser.username%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-form">
              <form action="/sessions?_method=DELETE" method="POST">
                <input class="dropdown-item" type="submit" value="Logout"/>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="teamContainer container">
      <div class="wideContainer">
        <h2 class="indexh2">Baseball</h2>
      </div>
      <div class="baseballContainer container">
      </div>
      <div class="wideContainer">
        <h2 class="indexh2">Football</h2>
      </div>
      <div class="footballContainer container">
      </div>
      <% for(let i=0; i < teams.length; i++) { %>
        <% if(teams[i].username === currentUser.username && teams[i].sport === 'Football') { %>
        <div class="footballTeam text-center">
          <h4><%=teams[i].name%></h4>
          <a href="/<%=teams[i].id%>"><img class="teamLogo rounded mx-auto d-block" src="<%=teams[i].logo%>" alt="<%=teams[i].name%>"></a>
          <% if(teams[i].place <= 3) { %>
            <p class="rounded-circle rounded-circle-success"><%=teams[i].place%></p>
          <% } else if (teams[i].place > 3 && teams[i].place <= 8) { %>
            <p class="rounded-circle rounded-circle-warning"><%=teams[i].place%></p>
          <% } else if (teams[i].place > 8) { %>
            <p class="rounded-circle rounded-circle-danger"><%=teams[i].place%></p>
          <% } %>
        </div>
    <% } else if (teams[i].username === currentUser.username && teams[i].sport === 'Baseball') { %>
      <div class="baseballTeam text-center">
        <h4><%=teams[i].name%></h4>
        <a href="/<%=teams[i].id%>"><img class="teamLogo rounded mx-auto d-block" src="<%=teams[i].logo%>" alt="<%=teams[i].name%>"></a>
        <% if(teams[i].place <= 3) { %>
          <p class="rounded-circle rounded-circle-success"><%=teams[i].place%></p>
        <% } else if (teams[i].place > 3 && teams[i].place <= 8) { %>
          <p class="rounded-circle rounded-circle-warning"><%=teams[i].place%></p>
        <% } else if (teams[i].place > 8) { %>
          <p class="rounded-circle rounded-circle-danger"><%=teams[i].place%></p>
        <% } %>
      </div>
      <% } %>
    <% } %>
    </div>

  <% } else { %>
    <nav class="navbar navbar-expand-lg">
      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="site-name" href="/">Fantasy Manager</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Teams
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/new">Add New Team</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"href="/about">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"href="/sessions/new">Log In</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container teamContainer">
      <div class="wideContainer">
        <h2 class="indexh2">Create Your Account or Log In</h2>
      </div>
      <div class="loginContainer">
        <a class="btn btn-primary login" href="/sessions/new">Log In</a><br><br>
        <a class="btn btn-primary login" href="/users/new">Create User</a>
      </div>
    </div>
    <% } %>
  </body>
</html>
