<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=team.name%></title>
    <% include ./partials/style.ejs %>
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="site-name" href="/">Fantasy Manager</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Teams
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"></a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/new">Add New Team</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"href="/about">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container teamContainer">
      <div class="row">
        <div class="col">
          <div>
            <h1 class="center"><%=team.name%></h1>
          </div>
          <div class="flex">
            <a class="btn btn-primary mb-2 edit" href="/<%=team.id%>/edit">EDIT TEAM</a>
            <form action="/<%=team.id%>?_method=DELETE" method="POST">
              <input class="btn btn-danger mb-2" type="submit" value="DELETE"/>
            </form>
          </div>
          <div class="flexCol">
            <img class="fluid-image rounded" src="<%=team.logo%>" alt="<%=team.name%>">
            <h3><%=team.sport%></h3>
            <h4>Platform: <%=team.platform%></h4>
            <h4>Place: <%=team.place%></h4>
            <a class="btn btn-primary btn-lg active homepage" href="/">Back to Homepage</a>
          </div>
        </div>
      <div class="col">
        <h3>Players</h3>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Team</th>
              <th scope="col">Position</th>
            </tr>
          </thead>
          <tbody>
        <% for(let i=0;i < team.players.length; i++) { %>
          <tr>
            <th scope="row"></th>
            <td><%=team.players[i].name%></td>
            <td><%=team.players[i].team%></td>
            <td><%=team.players[i].position%></td>
        <% } %>
      </table>
      </div>
    </div>
  </body>
</html>
