<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=team.name%></title>
    <% include ./partials/style.ejs %>
  </head>
  <body>
    <h1><%=team.name%></h1>
    <form action="/<%=team.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
    </form>
    <a href="/<%=team.id%>/edit">Edit Team</a>
    <div class="teamShow">
      <img src="<%=team.logo%>" alt="<%=team.name%>">
      <h3><%=team.sport%></h3>
      <p><%=team.platform%></p>
      <p><%=team.place%></p>
      <% for(let i=0;i < team.players.length; i++) { %>
        <div class="players">
          <p><%=team.players[i].name%></p>
          <p><%=team.players[i].position%></p>
          <p><%=team.players[i].team%></p>
        </div>
      <% } %>
      <nav>
        <a href="/">Back to Homepage</a>
      </nav>
    </div>
  </body>
</html>
